# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

ErrorDocument 401 default
</IfModule>
# END WordPress

#AuthType Basic
#AuthName "Restricted Area"
#AuthUserFile "/home/webnhathuoc/.htpasswds/public_html/passwd"
#require valid-user
